body {
  font-family: helvetica, sans-serif;
  color: #333;
}

header a{
  color: inherit;
  text-decoration: none;
}

h1 .thin{
  font-weight: 100;
}

.container{
  max-width: 800;
  margin: 0 auto;
}
