<html lang="{{ page.lang }}">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
  </head>
  <body>
    {% include header.html %}
    <section class="container">
      <h1>{{ page.title }}</h1>
      <div class="tags">
        {% for tag in page.tags %}
          <span>#{{ tag }} </span>
        {% endfor %}
      </div>
      <div class="content">
	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 2; left: 0; width: 100%; height: 100%; }</style>
	<div class='embed-container'>
  		<iframe src='//www.youtube.com/embed/{{page.youtube}}' frameborder='0' allowfullscreen></iframe>
	</div>
        {{ content }}
      </div>
    </section>
    <footer class="container">
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    </footer>
</body>
</html>
