<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
  </head>
  <body>
    {% include header.html %}
    <section class="container">
      <h1>{{ page.title }}</h1>
      <div>
        <h3>Categories</h3>
	<p class="categories">
          {% for category in page.categories %}
            <span><a href="/categories/{{ category }}.html">{{ category }}</a></span> 
          {% endfor %}
          &gt; &gt;
	</p>
        <p class="tags">
          {% for tag in page.tags %}
            <span>#{{ tag }} </span>
          {% endfor %}
        </p>
      </div>
      {{ content }}
      {% include comments.html %}
    </section>
    <aside class="container">
      <h2>Blog posts</h2>
      <ul class="posts">
        {% for post in site.posts %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>
    <footer class="container">
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  
    </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49048726-1', 'skytteren.no');
  ga('send', 'pageview');

</script>
</body>
</html>
