<html lang="{{ page.lang }}">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
  </head>
  <body>
    {% include header.html %}
    <section class="container">
      <h1>{{ page.title }}</h1>
      <div class="categories">
          Categories: {% for category in page.categories %}
          <span><a href="/categories/{{ category }}.html">{{ category }}</a></span>
        {% endfor %}
      </div>

      <div class="tags">
        {% for tag in page.tags %}
          <span>#{{ tag }} </span>
        {% endfor %}
      </div>
      <div class="content">
        {{ content }}
      </div>
      {% include comments.html %}
    </section>
    <aside class="container">
      <h2>Blog posts</h2>
      <ul class="posts">
        {% for post in site.posts %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>
    <footer class="container">
    </footer>
</body>
</html>
